<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Mode" value="FreeTest" />
	  <add key="FilePath" value="C:\Users\DaniB\Documents\SoftwareGuild\bitbucket\dani-benek-individual-work\SGBank\Accounts.txt" />
	  <add key="FileSeed" value="C:\Users\DaniB\Documents\SoftwareGuild\bitbucket\dani-benek-individual-work\SGBank\AccountsTestSeed.txt" />
  </appSettings>
</configuration>